# Wildcards

*
!*/

!*.yaml
!*.gif
!*.md

google_calendars.yaml
.google.token
known_devices.yaml
secrets.yaml
configuration/cameras.yaml
cameras.yaml
.*
*.db
*.conf
*.log

# Directories

devices
lib                       # Ignore HA folders...
deps
tts
www
.cloud
.google_maps_location_sharing.cookies
.shopping_list.json
.storage
.uuid
